.App {
  margin-left: 50px;
}

.die {
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 5px;
  text-align: center;
  width: 70px;
  height: 70px;
}

.die-img[animation='1'] {
  animation: rotation;
  animation-duration: 200ms;
}

.button {
  text-align: center;
  width: 70px;
  margin: 5px;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(359deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(359deg);
  }
  100% {
    transform: rotate(0deg);
  }
}