.App {
  margin-left: 50px;
}

.die {
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 15px;
  border: 1px solid;
  border-radius: 10px;
  border-color: black;
  text-align: center;
  width: 50px;
  height: 40px;
}

.button {
  text-align: center;
  width: 70px;
  margin: 5px;
}

